* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {

    color: #4e6342;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #7a6856;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: green;
}


body{

    background-color: #f7f1df;
    max-width: 25rem;
    margin: 0 auto;
}