body {
    max-width: 600px;
    margin: 0 auto;
    padding: 12px;
   
      
      background-color: #ffffff;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
  
  body {
      font-family: 'Poppins', sans-serif;
  }
  
  p {
    line-height: 1.5;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  h3{
    
    color: red;
  }
  
  
  footer{ 
  text-align: center;
  }
  